{% extends "wap/layout.html" %}
{% load static %}

{% block title %}
    {% if category %}
        {{category.name}}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
<h1>Stock</h1>

<div id="sidebar">
    <h3>Product Group</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
            <a href="{% url "index" %}">All Products</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
        </li>
        {% endfor %}
    </ul>

</div>
    <div id ="main" class="product-list">
        <h1>
            {% if category %}
                {{ category.name }}
            {% else %}
                Products
            {% endif %}
        </h1>
        {% for item in products %}
            <div class="item">
                <a href=""{{ item.get_absolute_url }}>
                    <img width="500"
                         src="
                         {% if item.photo %}
                            {{MEDIA_URL}}{{item.photo}}
                         {% else %}
                            {{MEDIA_URL}}products/dummyproduct.jpg
                         {% endif %}"/>
                </a>
                <b>{{item.name}}</b>
                <br>
                {{item.shortDescr}}
                <br>
                Продуктивність{{item.productivity}}
                <br>
                ${{item.price}}
                <br>
                <button>В кошик</button>
            </div>
        {% endfor %}
{% endblock %}
